<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5ddf4751e6.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,500|Oswald:300,400&display=swap" rel="stylesheet">

    <!-- My Style Sheets  -->
    <link rel="stylesheet" href="/public/style/mainStyle.css">
    <link rel="stylesheet" href="/public/style/individualPost.css">

    <title>Macy Karl</title>
  </head>
  <body>
    <div class="container">
      <div class="row name-container">
        <div class="col align-self-center text-center">
          <h1>Macy Karl</h1>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item mr-3">
              <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link" href="#">ABOUT</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link" href="/posts/lifestyle">LIFESTYLE</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link" href="/posts/asia&#x20;expat">ASIA EXPAT</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link" href="/posts/travel">TRAVEL</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link" href="/posts/style">STYLE</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link mr-lg-2" href="#">CONTACT</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link mr-lg-2" href="#">SHOP</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link mr-lg-2" href="/posts">Posts</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link mr-lg-2" href="/posts/new">New Post</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="mr-sm-2" placeholder="Search">
            <button class="btn my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>
      </nav>
    </div>
    
   