<%- include('../partials/header') -%>

<div class="container">
    <div class="row about-container my-5 mx-1 px-3">
        <div class="about-content col col-xl-9 p-4 mt-2 mb-1 my-xl-5">
            <div class="row justify-content-end">
                <div class="meet-macy col-4 col-xl-3 text-center pink p-2 mb-3 mr-3">Meet Macy...</div>
            </div>
            <div class="about-title mb-3">Hi, I’m Macy Karl!</div>
            <div class="about-text">
                <p>I am a busy, spontaneous and high-spirited enneagram type 7 person who piggy backs off of type 8 challenger. I am obsessed with sharing my tips and tricks from around the world in all areas of life!</p>
                <p>I’m a small town Minnesota gal who uprooted her life to Hong Kong after meeting her South African fiancé one week prior. Currently living in the heart of one of the biggest cities in the world and I wouldn’t have changed a thing along the way. You can find me snuggled up in our 600sqft apartment nose deep behind my computer screen sharing my adventures and lifestyle hacks. I’m glad you’re here.</p>
            </div>
        </div>
        <div class="about-image col d-none d-xl-block"></div>
    </div>
    <div class="row justify-content-center">
        <div class="about-image-sm col d-xl-none mb-3"></div>
    </div>
</div>

<%- include('../partials/footer') -%>