<%- include('../partials/header') -%>

<div class="container">
    <div class="row my-4">
        <div class="col-9">
            <div class="boutique-widget" data-widget-id="951760">
                <script type="text/javascript">!function(w,i,d,g,e,t){d.getElementById(i)||(element=d.createElement(t),element.id=i,element.src="https://widgets.rewardstyle.com"+e,d.body.appendChild(element)),w.hasOwnProperty(g)===!0&&"complete"===d.readyState&&w[g].init()}(window,"boutique-script",document,"__boutique","/js/boutique.js","script")</script>
                <div class="rs-adblock">
                    <img src="https://assets.rewardstyle.com/production/13ffd7ad07c9f5baf6876164bbf71b26c36307d9/images/search/350.gif" onerror='this.parentNode.innerHTML="Disable your ad blocking software to view this content."' style="width: 15px; height: 15px">
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') -%>